/*全体のスタイル（CSSリセット用）*/
* {
    /* padding,borderが要素の中に入る */
    box-sizing: border-box;
}

ul {
    /* リストの・を消す */
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    color: inherit;
    /* 文字の下の線を消す */
    text-decoration: none;
}

body {
    color: #555;
    margin: 0;
    line-height: 1.6;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    background-color: inherit;
    position: absolute;
    z-index: 10px;
}

.header-logo {
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul {
    display: flex;
    padding: 22px 0;
}

.header-nav ul li {
    margin-left: 55px;
    font-size: 15px;
}

#first-v {
    height: 770px;
    background-image: url("../img/bg1.png");
    background-size: cover;
}

.first-v-wrap {
    padding: 285px 0 255px;
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

.first-v-title {
    margin-bottom: 150px;
    font-weight: bold;
    font-size: 27px;
    color: #fff;
}

.first-v-title::after {
    display: block;
    content: "";
    width: 100px;
    border-top: 1px solid #fff;
    margin: 20px auto 0;
}

.first-v-btn {
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: linear-gradient(-90deg, #283C86, #06BEB6);
    box-shadow: 0ppx 5px #070707;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    margin-top: 100px;
}

.fa-door-open {
    margin-right: 4px;
}

.entry-wrap {
    padding: 175px 0;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.entry-title {
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 18px;
    color: #191919;
}

.entry-btn {
    width: 320px;
}

/* footer */
footer {
    background-color: #191919;
    height: 50px;
}

.company-info {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
}



 /* 共通パート */
 .title {
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* 文字をイタリック体に */
    font-style: italic;
    text-align: center;
 }

 .title-b{
    /* Aboutの部分だけを太文字に */
    font-weight: bold;
 }
 
 .title::before {
    content: "";     /* 追加 */
    display: inline-block;
    width: 30px;
    margin-right: 20px;
    border-top: 1px solid #191919;
    content: "";     /* 追加 */
}

 .title::after {
    content: "";
    display: inline-block;
    width: 30px;
    margin-left: 20px;
    border-top:1px solid #191919;
    content: "";
 }

 .inner {
    /* about-itemの横幅と間隔の合計 */
    width: 1100px;
    /* titleまでの幅 */
    padding: 90px 0;
    /* innerが画面の中央に */
    margin: 0 auto;
}

 /* aboutのスタイル */
 #about{
    color: #191919;
    background-color: #f8f8f8;

 }

 .about-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 子要素を中央揃え (追加)*/
    align-items: center;   /* 追加　*/
    gap: 100px; /* 横と縦の間隔を100pxに設定 (追加)*/
    margin-top: 60px;
 }

 .about-item{
    width: 300px;
    height: 315px;
    padding: 35px 50px 50px;
    text-align: center;
    background-color: #fff;
 }

 .about-item:nth-child(n+4):nth-child(-n+6){
    /* 4から6個目のabout-itemにmarginをつける */
    margin-top: 47px;
 }

 .about-title_title{
    font-size: 22px;
 }

 .about-item_img img{
    width: 122px;
    height: 122px;
    margin: 20px 0 25px;
 }

 .about-item_desc{
    font-size: 13px;
 }


  /* newsのスタイル */
  #c{
    color: #191919;
    background-color: #f8f8f8;

 }

 .news-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 子要素を中央揃え (追加)*/
    align-items: center;   /* 追加　*/
    gap: 100px; /* 横と縦の間隔を100pxに設定 (追加)*/
    margin-top: 60px;
 }

 .news-item{
    width: 336px;
    height: 400px;
    padding: 35px 50px 50px;
    text-align: left;
    background-color: #fff;
 }

 .news-item:nth-child(n+4):nth-child(-n+6){
    /* 4から6個目のabout-itemにmarginをつける */
    margin-top: 47px;
 }

 .news-title_date{
    font-size: 22px;
 }

 .news-title_title{
    font-size: 14px;
 }

 .news-item_img {
    width: 336px;
    height: 207px;
    margin: 20px 0 25px;
 }

 .news-item_img img{
    width: 336px;
    height: 207px;
    margin: 20px 0 25px;
 }

 .news-item_desc{
    font-size: 12px;
 }


